/* these are special */
.slip-reordering {
    box-shadow: 0 2px 10px rgba(0,0,0,0.45);
}

.slip-swiping-container {
    overflow-x: hidden;
}

.slip-list li {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    cursor: default;
}

/* the rest is junk for the demo page */
.slip-list li.demo-allow-select {
    padding: 1em;
    line-height: 1.3;
    user-select: text;
    -moz-user-select: text;
    -webkit-user-select: text;
}
.slip-list li.demo-allow-select span {
    cursor: text;
}

body {
    background: #eee;
    font-family: Helvetica, Arial, sans-serif;
    max-width: 40em;
    margin: 0 auto;
    padding: 5px;
}

.slip-list {
    clear:left;
    margin: 1em;
    padding: 0 0 1px;
}

.slip-list li {
    display:block;
    border: 1px solid black;
    background: white;
    margin: 0; padding: 0 1em;
    border-radius: 3px;
    margin-bottom: -1px;
    max-width: 100%;
    line-height: 3;
    vertical-align: middle;
}

.slip-list input {
    vertical-align: middle;
}

.slip-list .instant::after {
    content: " \2261";
}
.slip-list .instant {
    float: right;
}

.skewed {
    transform: rotate(2deg) scale(0.99);
    -webkit-transform: rotate(2deg) scale(0.99);
}

.demo-no-swipe.demo-no-reorder {
    opacity: 0.5;
}

h1, h2 {
    color: #666;
}
h1 {
    float:left; margin-top: 0; margin-right: 1ex;
}
h1+p {
    overflow:auto; margin-top: 0.2em;
}
