/* these are special */
.slip-reordering {
    box-shadow: 0 2px 10px rgba(0,0,0,0.45);
}

.slip-swiping-container {
    overflow-x: hidden;
}

.slip-list li {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    cursor: default;
}

body {
    background: #eee;
    font-family: Helvetica, Arial, sans-serif;
    max-width: 40em;
    margin: 0 auto;
}

.slip-list li {
    display:block;
    border: 1px solid black;
    background: white;
    margin: 0; 
    padding: 0 1em;
    border-radius: 3px;
    margin-bottom: -1px;
    line-height: 3;
    vertical-align: middle;
}

.slip-list .instant::after {
    content: " \2261";
}

.slip-list .instant {
    float: right;
}

.instant {
    cursor: pointer;
}

